html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: default;
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 100;
    src: url("assets/fonts/balgindisplay-extralight.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 200;
    src: url("assets/fonts/balgindisplay-light.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 400;
    src: url("assets/fonts/balgindisplay-regular.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 600;
    src: url("assets/fonts/balgindisplay-medium.ttf");
  }  

  :root {
    --colorA1:#ffffff;

    --colorB1:#151515;
    --colorB2:#1f1f1f;
    --colorB3:#222;

    --colorC1: #db6842;
    --colorC2:#d87;
    --colorC3:#ffcbc0;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--colorB1);
    color: var(--colorA1);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Balgin', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 9px;
    height:9px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--colorB3);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--colorA1);
    border-radius: 0.2rem;
  }

  .main_width {
    width: clamp(10rem, 78vw, 91rem);
    margin:0 auto;
  }

  .flex {
    display: flex;
  }
  
  /* END OF GLOBAL STYLES */







  .cart_cta {
    width: 100%;
    position: sticky;
    top: 2rem;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(3rem, 12vw, 4.5rem);
    margin-top: 2rem;
  } .cart_cta a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    letter-spacing: 0.1rem;
    color: var(--colorA1);
    font-weight: 200;
    border: 0.15rem solid var(--colorC2);
    background-color: var(--colorC1);
    font-weight: 200;
    border-radius: 0.3rem;
    width: 90%;
    height: 100%;
    box-shadow: 0 0.6rem 1rem -0.6rem var(--colorB1);
  }


  .intro_sec {
    /* background-image: linear-gradient(180deg, #131313, #0000 38%); */
  } .intro_sec .logo_stamp {
    width: clamp(3.6rem, 24vw, 13rem);
    height: clamp(3.6rem, 24vw, 13rem);
    background-image: url(assets/sticker-dark.png);
    background-image: -webkit-image-set(url(assets/sticker-dark.png) 1x, url(assets/sticker-dark.webp) 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  } .intro_sec .txt {
    color: var(--colorB1);
    background-color: var(--colorC1);
    font-size: clamp(2.5rem, 9vw, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: clamp(36rem, 118vw, 59rem);
  } .intro_sec .txt .ctnr {
    width: clamp(23rem, 85vw, 62rem);
    transform: translateY(-1rem);
  } .intro_sec .txt a {
    background: var(--colorB1);
    padding: 0 1.4rem 0;
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    border-radius: 0.4rem;
    color: var(--colorA1);
    font-weight: 200;
    letter-spacing: 1px;
    display: block;
    width: max-content;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(3rem, 12vw, 4.5rem);
  } h1 {
    font-size: clamp(2.5rem, 10vw, 5.3rem);
    font-weight: 600;
    line-height: 1.15;
    margin: clamp(1.3rem, 4vw, 3rem) 0 clamp(1.3rem, 3vw, 2rem);
    letter-spacing: -0.1rem;
    text-shadow: 0.15rem 0.15rem 0rem var(--colorC2);
  } .intro_sec h2 {
    font-weight: 600;
    line-height: 1.4;
    font-size: clamp(1.2rem, 3.8vw, 1.6rem);
    letter-spacing: 0.5px;
  } .intro_sec .showoff {
    background-image: url(assets/bg1.png), linear-gradient(30deg, #503935, #0000 38%);
    background-color: var(--colorB1);
    background-size: clamp(24rem, 19vw, 40rem), cover;
    width: 100%;
    height: clamp(33rem, 90vw, 185rem);
    position: relative;
  } .intro_sec .showoff .img {
    background-image: url(assets/bean-delivered-product.png);
    background-image: -webkit-image-set(url(assets/bean-delivered-product.png) 1x, url(assets/bean-delivered-product.webp) 1x);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(31rem, 90vw, 82vh);
    position: relative;
    z-index: 10;
    top: -2rem;
}


.big_title_sec {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--colorA1);
  background-color: var(--colorB1);
  padding: clamp(5rem, 18vw, 8rem) 0rem clamp(13rem, 35vw, 20rem);
  gap: 4rem;
  box-sizing: border-box;
} .big_title_sec .title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 400;
  letter-spacing: 0.1rem;
  max-width: 70vw;
  text-align: center;
} .big_title_sec .sticker {
  position: absolute;
  bottom: 0;
  transform: translateY(53%);
  width: clamp(11rem, 28vw, 16rem);
}

.brand_bullets {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
} .brand_bullets .divider {
  width:100%;
  height: 0.1rem;
  background-color:var(--colorB3);
} .bullet {
  display: flex;
  gap: clamp(1.3rem, 5vw, 2rem);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 85vw;
} .bullet img {
  width: clamp(1.5rem, 6vw, 2rem);
  height: clamp(1.5rem, 6vw, 2rem);
} .bullet p {
  color: var(--colorA1);
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: clamp(1.1rem, 3.5vw, 1.2rem);
  text-align: left;
}



.catalog_sec {
  padding: clamp(8rem, 22vw, 13rem) 0 0;
  background-color: var(--colorB3);
} .catalog_sec h2, .cart_sec h2 {
  color: var(--colorA1);
  font-size: clamp(1.5rem, 4.5vw, 2.4rem);
  font-weight: 200;
  letter-spacing: 0.1rem;
} .catalog_sec h2 {
  padding-left: clamp(2rem, 7vw, 6rem);
} .catalog {
  padding: clamp(1.2rem, 5vw, 2.5rem) 3rem clamp(1.2rem, 12vw, 5rem) clamp(2rem, 7vw, 6rem);
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: clamp(2rem, 2vw, 2.6rem);
} .catalog::-webkit-scrollbar-track {
  background-color:var(--colorB2);
} .catalog::-webkit-scrollbar-thumb {
  background-color:var(--colorC1);
} .catalog article {
  scroll-snap-align: center;
  border-radius: 1rem;
  background-color: var(--colorB1);
  background-image: linear-gradient(180deg, #111, #0000 38%);
  width: 50rem;
  min-width: clamp(21rem, 62vw, 28rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--colorA1);
  text-align: center;
  padding: 3rem clamp(1rem, 6vw, 3rem) 2rem;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.5s ease;
} .catalog article:hover {
  background-color:#111111;
  transition: background-color 0.15s ease;
} .catalog article.popular::before {
  content: 'Popular';
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: var(--colorC1);
  color: var(--colorA1);
  padding: 0.2rem 0.7rem;
  font-size: clamp(1.2rem, 4vw, 1.3rem);
  border-radius: 0.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
} .catalog h3 {
  font-size: clamp(2rem, 5.5vw, 2.2rem);
  font-weight: 400;
} .catalog article p {
  font-weight: 100;
  font-size: clamp(1.1rem, 3.3vw, 1.4rem);
  line-height: 1.4;
  letter-spacing: 1px;
} .catalog .product_img, .catalog .product_img img {
  width: 100%;
  height: clamp(15rem, 40vw, 18rem);
  object-fit: contain;
} .catalog .price {
  font-size: clamp(1.5rem, 6vw, 2.3rem);
  font-weight: 200;
  letter-spacing: 0.1rem;
}


.catalog .add_bt, .catalog .subtract_bt {
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 3rem;
  margin-top: 1rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: center;
  cursor: pointer;
  border: 0.15rem solid;
  border-color: #292929;
  background-color: var(--colorB2);
  transition: background-color 0.3s ease, border-color 0.3s ease;
} .add_bt:hover {
  border: 0.15rem solid;
  border-color: var(--colorC2);
  background-color: var(--colorB1);
  transition: background-color 0.15s ease, border-color 0.15s ease;
} .subtract_bt:hover {
  background-color: var(--colorB1);
  transition: background-color 0.15s ease;
} .catalog .add_bt {
  background-image: url(assets/plus.svg);
} .catalog .subtract_bt {
  background-image: url(assets/minus.svg);
}

.operator {
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
} .operator .amount {
  width: 1.8rem;
  text-align: center;
  background: no-repeat;
  border: none;
  font-size: 1.6rem;
  cursor: default;
  font-weight: 400;
  transform: translateY(6%);
  color: var(--colorA1);
}
/* Chrome, Safari, Edge, Opera */
.operator input::-webkit-outer-spin-button,
.operator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.operator input[type=number] {
  -moz-appearance: textfield;
}


.cart_sec {
  background-color: var(--colorB1);
  padding: clamp(8rem, 30vw, 14rem) 0 clamp(8rem, 30vw, 16rem);
} .cart_sec .main_width {

} .cart_sec .flex {
  gap: 4rem;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1.5rem;
} .cart_sec .items_ctnr, .summary_ctnr {
  gap: 1.6rem;
  /* font-size: clamp(1.2rem, 4vw, 2rem); */
  display: flex;
  font-weight: 200;
  letter-spacing: 0.1rem;
  flex-direction: column;
} .cart_sec .items_ctnr {
  border: 0.1rem solid #222;
  border-radius: 0.6rem;
  padding: clamp(2rem, 7vw, 3.5rem) clamp(2rem, 7vw, 3rem);
  font-size: clamp(1.2rem, 4vw, 1.6rem);
} .item {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1.6rem;
} .item .divider {
  flex: 1;
} .item.total {
  color:var(--colorC3)
} .summary_ctnr {
  font-size: clamp(1.6rem, 5vw, 2.2rem);
} .summary_ctnr .divider {
  margin:1rem 0;
} .cart_sec .divider {
  width:100%;
  height:0.1rem;
  background: var(--colorB3);
} .postal_code {
  background: var(--colorB3);
  border: 0.1rem solid #444;
  padding: 0.7rem 0.7rem;
  border-radius: 0.3rem;
  color: var(--colorA1);
  font-weight: 200;
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
} .zip_ctnr {
  display: flex;
  gap: 1rem;
} .zip_ctnr button {
  background-color: #0000;
  border: 0.1rem solid var(--colorC2);
  border-radius: 0.3rem;
  font-weight: 200;
  color: var(--colorA1);
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
} .zip_ctnr button:hover {
  background-color: var(--colorB2);
} .pay_cta {
  text-align: center;
  border: 0.1rem solid var(--colorC2);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1.2rem 0;
  cursor: pointer;
}



footer {
  height: 20rem;
  background-color: var(--colorC1);
  display: flex;
  justify-content: center;
  align-items: center;
} .disclaimer {
  font-size: clamp(1.2rem, 3.8vw, 1.6rem);
  font-weight: 200;
  color: var(--colorA1);
  text-align: center;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

















@media (min-width:750px) {

  h1 {
    max-width: 80vw;
    font-size: clamp(2.5rem, 4.5vw, 5.3rem);
    margin: 2rem 0;
  }

  .intro_sec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* gap: clamp(2rem, calc(9vw - 3rem), 12rem); */
  }

  .cart_cta {
    margin-top: 1rem;
    top: 18vh;
  } .cart_cta a {
    width: unset;
    display: inline-flex;
    /* font-size: clamp(0.8rem, 4vw, 1.3rem); */
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0 3rem;
    margin-top: -28vh;
  }

  .intro_sec .showoff {
    width: clamp(20rem, calc(63vw - 10rem), 62vw);
    height: clamp(50rem, 90vh, 100rem);
    border-radius: 0 0 0 8rem;
    box-shadow: 0rem 0rem 5rem -1.5rem var(--colorB2);
  } .intro_sec .txt {
    flex: 1;
    height: clamp(30rem, 80vh, 70rem);
  } .intro_sec .txt .ctnr {
    width: clamp(31rem, 38vw, 46rem);
  } .intro_sec .showoff .img {
    position: absolute;
    bottom: -10%;
    top: unset;
    z-index: 1;
    width: 91%;
    right: 0;
  } .intro_sec .logo_stamp {
    width: clamp(3.6rem, 12vw, 13rem);
    height: clamp(3.6rem, 12vw, 13rem);
  }

  .brand_bullets {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
  } .brand_bullets .divider {
    width: 0.1rem;
    height: 3rem;
  }

  .catalog_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } .catalog {
    padding: clamp(1.2rem, 5vw, 4rem) 15vw clamp(1.2rem, 12vw, 5rem) 15vw;
    width: 100%;
    margin: 0 0 0 auto;
    scroll-snap-type: unset;
    box-sizing: border-box;
  } .catalog article {
    width: clamp(13rem, 40vw, 27rem);
    /* min-width: unset; */
  } .catalog article p {
    font-size: clamp(1.1rem, 3.3vw, 1.25rem);
  } .catalog_sec h2 {
    padding-left: 15vw;
  }


  .cart_sec .flex {
    flex-direction: row;
    align-items: self-start;
  } .items_ctnr {
    width: 40%;
  } .summary_ctnr {
    width: 60%;
  } .zip_ctnr {
    margin: 0 0 0 auto;
  }
}






















  /* @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  } */


