html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: default;
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 100;
    src: url("assets/fonts/balgindisplay-extralight.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 200;
    src: url("assets/fonts/balgindisplay-light.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 400;
    src: url("assets/fonts/balgindisplay-regular.ttf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 600;
    src: url("assets/fonts/balgindisplay-medium.ttf");
  }  

  :root {
    --colorA1:#333333;
    --colorB1:#bf6443;
    --colorB2:#d87;

    --light:#ffffff;
    --dark:#1f1f1f;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--dark);
    color: var(--light);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Balgin', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 9px;
    height:9px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--colorA1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 0.2rem;
  }

  .main_width {
    width: clamp(10rem, 85vw, 80rem);
    margin:0 auto;
  } 
  
  /* END OF GLOBAL STYLES */







  .cart_cta {
    width:100%;
    height:5.5rem;
    position: sticky;
    top: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(5rem, 16.5vw, 7rem);
  } .cart_cta a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    letter-spacing: 0.1rem;
    color: var(--light);
    font-weight: 200;
    border: 0.15rem solid var(--colorB2);
    background-color: var(--colorB1);
    font-weight: 200;
    border-radius: 0.3rem;
    width: 90%;
    height: 62%;
    box-shadow: 0 0.6rem 1rem -0.6rem var(--dark);
  }

  

  .intro_sec {
    /* background-image: linear-gradient(180deg, #131313, #0000 38%); */
    background-color: var(--colorB1);
  } .intro_sec .logo_stamp {
    width: clamp(3.6rem, 24vw, 13rem);
    height: clamp(3.6rem, 24vw, 13rem);
    background-image: url(assets/sticker1_big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  } .intro_sec .txt {
    color: var(--dark);
    font-size: clamp(2.5rem, 9vw, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: clamp(36rem, 120vw, 59rem);
  } .intro_sec .txt .ctnr {
    width: clamp(23rem, 85vw, 62rem);
  } .intro_sec .txt a {
    background: var(--dark);
    padding: clamp(0.3rem, 3vw, 0.9rem) 1.4rem clamp(0.3rem, 3vw, 1rem);
    font-size: clamp(1.1rem, 4vw, 1.6rem);
    border-radius: 0.4rem;
    color: var(--light);
    font-weight: 200;
    letter-spacing: 1px;
  } h1 {
    font-size: clamp(2.5rem, 10vw, 5.3rem);
    font-weight: 600;
    line-height: 1.15;
    margin: clamp(1.3rem, 4vw, 3rem) 0 clamp(1.3rem, 3vw, 2rem);
    letter-spacing: -0.1rem;
    text-shadow: 0.15rem 0.15rem 0rem var(--colorB2);
  } .intro_sec h2 {
    font-weight: 600;
    line-height: 1.4;
    font-size: clamp(0.5rem, 3.8vw, 1.6rem);
    letter-spacing: 0.5px;
  } .intro_sec .showoff {
    background-image: url(assets/bg1.png), linear-gradient(30deg, #503935, #0000 38%);
    background-color: var(--dark);
    background-size: clamp(24rem, 16vw, 40rem), cover;
    width: 100%;
    height: clamp(33rem, 90vw, 185rem);
    position: relative;
  } .intro_sec .showoff .img {
    background-image: url(assets/bean-delivered-product.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(31rem, 90vw, 82vh);
    position: relative;
    z-index: 10;
    top: -2rem;
}


.big_title_sec {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--light);
  background-color: var(--dark);
  height: clamp(33rem, 50vw, 52rem);
  text-align: center;
  padding: 0 1rem 5rem;
  box-sizing: border-box;
} .big_title_sec .title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 400;
  letter-spacing: 0.1rem;
  max-width: 70vw;
} .big_title_sec .sticker {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: clamp(11rem, 33vw, 14rem);
}


footer {
  height:30rem;
  background-color: var(--colorB1);
}




.catalog_sec {
  padding: 10rem 0 0;
  background-color: var(--colorA1);
} .catalog_sec h2 {
  text-align: left;
  color: var(--light);
  font-size: clamp(1.5rem, 4.5vw, 2.4rem);
  font-weight: 200;
  letter-spacing: 0.1rem;
} .catalog {
  padding: clamp(1.2rem, 5vw, 2.5rem) 3rem clamp(1.2rem, 12vw, 5rem) clamp(2rem, 7vw, 6rem);
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: clamp(2rem, 2vw, 2.6rem);
} .catalog::-webkit-scrollbar-track {
  background-color:var(--colorB1);
} .catalog article {
  scroll-snap-align: center;
  border-radius: 1rem;
  background-color: var(--dark);
  background-image: linear-gradient(180deg, #1A1A1A, #0000 24%);
  width: 50rem;
  min-width: clamp(21rem, 62vw, 28rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--light);
  text-align: center;
  padding: 4rem clamp(1rem, 6vw, 3rem) 3rem;
  box-sizing: border-box;
  position: relative;position: relative;
  box-shadow: -0.2rem -0.2rem 0.6rem #494949, 0.2rem 0.2rem 0.6rem #1e1e1e;
  transition: background-color 0.3s ease;
} .catalog article:hover {
  background-color:#191919;
  transition: background-color 0.15s ease;
} .catalog article.popular::before {
  content: 'Popular';
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: var(--colorB1);
  color: var(--light);
  padding: 0.2rem 0.7rem;
  font-size: clamp(1.2rem, 4vw, 1.3rem);
  border-radius: 0.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
} .catalog h3, .cart_sec h3 {
  font-size: clamp(2rem, 5.5vw, 2.2rem);
  font-weight: 400;
} .catalog article p {
  font-weight: 100;
  font-size: clamp(1.1rem, 3.3vw, 1.4rem);
  line-height: 1.4;
  letter-spacing: 1px;
} .catalog .product_img {
  width: 100%;
  height: clamp(15rem, 40vw, 18rem);
  object-fit: contain;
} .catalog .price {
  font-size: clamp(1.5rem, 6vw, 2.3rem);
  font-weight: 200;
  letter-spacing: 0.1rem;
}


.catalog .add_bt, .catalog .subtract_bt {
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 3rem;
  margin-top: 1rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: center;
  cursor: pointer;
  border: 1px solid var(--light);
  background-color: var(--colorB1);
  box-shadow: 0 0.2rem 0.8rem 0.1rem #333;
} .catalog .add_bt {
  background-image: url(assets/plus.svg);
} .catalog .subtract_bt {
  background-image: url(assets/minus.svg);
}

.operator {
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
} .operator .amount {
  width: 1.8rem;
  text-align: center;
  background: no-repeat;
  border: none;
  font-size: 1.6rem;
  cursor: default;
  font-weight: 400;
  transform: translateY(6%);
  color: var(--light);
}
/* Chrome, Safari, Edge, Opera */
.operator input::-webkit-outer-spin-button,
.operator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.operator input[type=number] {
  -moz-appearance: textfield;
}


.cart_sec {
  background-color:var(--dark);
  min-height: 90rem;
  padding: 10rem 0 5rem;
}
























@media (min-width:750px) {

  h1 {
    max-width: 80vw;
  }

  .intro_sec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* gap: clamp(2rem, calc(9vw - 3rem), 12rem); */
  }

  .cart_cta {
    margin-top: 1rem;
    top: 1rem;
  } .cart_cta a {
    width: unset;
    display: inline-flex;
    /* font-size: clamp(0.8rem, 4vw, 1.3rem); */
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0 3rem;
  }

  .intro_sec .showoff {
    width: clamp(20rem, calc(62vw - 10rem), 62vw);
    height: 88vh;
    border-radius: 0 0 0 10rem;
  } .intro_sec .txt {
    flex: 1;
    height: unset;
  } .intro_sec .txt .ctnr {
    width: clamp(31rem, 38vw, 46rem);
  } .intro_sec .showoff .img {
    filter: drop-shadow(0 -2rem 4rem var(--dark));
    position: absolute;
    bottom: -12%;
    top: unset;
    z-index: 1;
  } .intro_sec .logo_stamp {
    width: clamp(3.6rem, 12vw, 13rem);
    height: clamp(3.6rem, 12vw, 13rem);
  }

  .catalog_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } .catalog {
    /* overflow: unset;
    flex-flow: row wrap;
    justify-content: center; */
    padding: clamp(1.2rem, 5vw, 4rem) 15vw clamp(1.2rem, 12vw, 5rem) 15vw;
    width: 82%;
    margin: 0 0 0 auto;
    scroll-snap-type: unset;
  } .catalog article {
    width: clamp(13rem, 40vw, 27rem);
    /* min-width: unset; */
  } .catalog article p {
    font-size: clamp(1.1rem, 3.3vw, 1.25rem);
  } .catalog_sec h2 {
    text-align: center;
  }
}






















  /* @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  } */


