html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: default;
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 100;
    src: url("assets/fonts/balgindisplay-extralight.otf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 200;
    src: url("assets/fonts/balgindisplay-light.otf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 400;
    src: url("assets/fonts/balgindisplay-regular.otf");
  }
  
  @font-face {
    font-family: "Balgin";
    font-weight: 600;
    src: url("assets/fonts/balgindisplay-medium.otf");
  }  

  :root {
    --colorA1:#333333;
    --colorB1:#bf6443;
    --colorB2:#d87;

    --light:#ffffff;
    --dark:#1f1f1f;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--colorA1);
    color: var(--dark);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Balgin', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 9px;
    height:5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light);
  }

  .main_width {
    width: clamp(10rem, 85vw, 80rem);
    margin:0 auto;
  } 
  
  /* END OF GLOBAL STYLES */







  header, header .cta {
    width:100%;
    height:5.5rem;
  }

  header {
    width:100%;
    height:5.5rem;
    position: sticky;
    top: 0;
    z-index: 9;

    background-color: var(--colorA1);
  } header .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 4vw, 2rem);
    letter-spacing: 0.1rem;
    color: var(--light);
    font-weight: 200;
  }

  

  .intro_sec {
    /* background-image: linear-gradient(180deg, #131313, #0000 38%); */
    background-color: var(--colorB1);
  } .intro_sec .logo_stamp {
    width: clamp(3.6rem, 20vw, 13rem);
    height: clamp(3.6rem, 20vw, 13rem);
    background-image: url(assets/sticker1_big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  } .intro_sec .hero_txt {
    color: var(--dark);
    padding: clamp(5rem, 8vw, 15rem) 0 7rem;
    font-size: clamp(2.5rem, 9vw, 5rem);
  } .intro_sec .hero_txt a {
    background: var(--dark);
    padding: 0.8rem 1.4rem 1.2rem;
    font-size: clamp(1.5rem, 3vw, 1.6rem);
    border-radius: 0.4rem;
    color: var(--light);
    font-weight: 200;
    letter-spacing: 1px;
  } h1 {
    font-size: clamp(2.5rem, 9.5vw, 5rem);
    font-weight: 600;
    line-height: 1.15;
    margin: clamp(1.3rem, 4vw, 2rem) 0;
    width: 98%;
    text-shadow: 0.15rem 0.15rem 0rem var(--colorB2);
  } .intro_sec h2 {
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.4em;
    letter-spacing: 0.2px;
  } .intro_sec .hero_div {
    background-image: url(assets/bg1.png), linear-gradient(30deg, #503935, #0000 38%);
    background-color: var(--dark);
    background-size: clamp(24rem, 16vw, 40rem), cover;
    width: 100%;
    height: clamp(33rem, 90vw, 185rem);
    position: relative;
  } .intro_sec .hero_img {
    background-image: url(assets/bean-delivered-product.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(31rem, 90vw, 82vh);
    position: relative;
    z-index: 10;
    top: -2rem;
}


.big_title_sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--light);
  background-color: var(--dark);
  height: 45rem;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
}


footer {
  height:30rem;
  background-color: var(--light);
}




.catalog_sec {
  padding: 10rem 0;
} .catalog_sec h2 {
  text-align: center;
  color: var(--colorB1);
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-shadow: 0.15rem 0.15rem 0rem #0006;
} .catalog {
  padding: 3rem;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  gap: 2rem;
} .catalog article {
  scroll-snap-align: center;
  display: inline-block;
  height: 50vh;
  border-radius: 1rem;
  background-color: var(--dark);
  width: 50rem;
  min-width: clamp(25rem, 81vw, 35rem);
}


















@media (min-width:750px) {
  .intro_sec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: clamp(2rem, calc(9vw - 3rem), 12rem);
  }

  header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
    background-color: #333333f7;
    backdrop-filter: blur(0.1rem);
  } header .cta {
    width: unset;
    border: 0.1rem solid var(--colorB2);
    display: inline-flex;
    font-size: clamp(0.8rem, 4vw, 1.3rem);
    padding: 0rem 1.6rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    height: unset;
    font-weight: 200;
    background-color: var(--colorB1);
    height: 3.6rem;
  }

  .intro_sec .hero_div {
    width: clamp(20rem, calc(62vw - 10rem), 62vw);
    height: 88vh;
    border-radius: 0 0 0 10rem;
    border-left: 0.2rem solid var(--colorB2);
  } .intro_sec .hero_txt {
    width: clamp(30rem, 32vw, 47rem);
    margin: unset;
  } .intro_sec .hero_img {
    filter: drop-shadow(0 -2rem 4rem var(--dark));
    position: absolute;
    bottom: -12%;
    top: unset;
    z-index: 1;
  }
}






















  /* @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  } */


